<?xml version="1.0" ?>
<!--
/**
 * Copyright © 2017 MagePal LLC. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="magepal" sortOrder="400" translate="label">
			<label>MagePal</label>
		</tab>
		<section id="magepal_reindex" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="5" translate="label">
			<label>Reindex</label>
			<tab>magepal</tab>
			<resource>MagePal_Reindex::config_magepal_reindex</resource>
			<group id="about" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="0" translate="label">
				<label>About MagePal Reindex</label>
				<field id="module_version" translate="label" type="label" sortOrder="0" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Module Version</label>
					<frontend_model>MagePal\Reindex\Block\Adminhtml\System\Config\Form\Module\Version</frontend_model>
				</field>
				<field id="composer_version" translate="label" type="label" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Composer Version</label>
					<frontend_model>MagePal\Reindex\Block\Adminhtml\System\Config\Form\Composer\Version</frontend_model>
				</field>
				<field id="link" translate="label" type="label" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Configuration</label>
					<frontend_model>MagePal\Reindex\Block\Adminhtml\System\Config\Form\Field\Link</frontend_model>
				</field>
			</group>
		</section>
	</system>
</config>
